<div class="body">
  <div class="right">
    <div class=description_card>
        <%= @duck.name %>
        <%= @duck.description %>
    </div>
    <div class="map">
    </div>
  </div>
  <div class="left">
    <div class="photo">
    <%= cl_image_tag @duck.photo.key, width: 400, height: 300, crop: :fill %>
    </div>
    <div class="review">
    <%= "Review" %>
    </div>
    <div class="price">
    <%= @duck.location %>
    <%= @duck.price %>
    </div>
  </div>
</div>
